
.container.contact_container{
    width: 69%;
    display:grid;
    grid-template-columns: 30% 58%;
    gap:12%;
    
}

.contact_options{
    display:flex;
    flex-direction: column;
    gap:1.2rem;
   
}


.contact_option{
    background: var(--color-bg-variant);
    padding: 1.2rem;
    border-radius: 1.2rem;
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);
   
}

.contact_option:hover{
    background: transparent;
    border-color: blue;
}

form{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    justify-content: center;
}

::placeholder{
    color: white;
}

input,textarea{
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background: #895575;
    border: 2px solid var(--color-primary-variant);
    resize: none;
    justify-content: center;
    color: white;
    


}

.form-center{
    justify-content: center;
    

}









  /* Import font */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* body{
    background-color: #1a1b26;
    font-family: 'Poppins', sans-serif;
} */


.btn-primary{
    display: inline-block;
    text-decoration: none;
    font-size: 25px;
    color: purple;
    padding: 20px 50px;
    /* border: 3px solid #9575cd; */
    border: 3px solid #2c041C;
    position: relative;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 210px;
}

.btn-primary::before,
.btn-primary::after{
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    border: inherit;
    transition: all .5s ease-in;
}

.btn-primary::before{
    top: -15px;
    left: -15px;
    border-width: 3px 0 0 3px;
}

.btn-primary::after{
    bottom: -15px;
    right: -15px;
    border-width: 0 3px 3px 0;
}

.btn-primary:hover::before,
.btn-primary:hover::after{
    width: calc(100% + 27px);
    height: calc(100% + 27px);
}

@media screen and (max-width: 768px) {
    .btn-primary {
        
        height:50px;
        font-size:15px;
    }
}